Source: apertium-gp
Section: translators
Priority: optional
Maintainer: Denys Senkin <denisx9.0c@gmail.com>
Build-Depends: debhelper (>= 9), qtbase5-dev, qtbase5-dev-tools, qt5-qmake
Standards-Version: 3.9.6
Homepage: https://www.apertium.org/

Package: apertium-gp
Architecture: any
Depends: libqt5gui5, libqt5widgets5, libqt5core5a, build-essential, python3-dev (>= 3.3), python3-pip, zlib1g-dev, subversion, ${misc:Depends}, ${shlibs:Depends}
Description: Apertium is an translator program.
 Apertium-GP is a GUI for Apertium transaltor.
 It is test build
 It is licensed under licensename. See so and so file for more information.
